<ng-container *ngIf="server">
    <h4>{{server.name}}</h4>
<form [formGroup]="serverForm">
  <section class="form-block">
    <label>
      <clr-icon shape="storage"></clr-icon> Database</label>
    <div class="form-group">
      <label class="required" for="ff_dbtype">Type</label>
      <div class="select">
        <select id="ff_dbtype" formControlName="type" value="dbtype">
          <option *ngFor="let dbtype of dbtypeValues" [value]="dbtype">{{dbtype}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="ff_database">Name</label>
      <input type="text" id="ff_database" placeholder="database" formControlName="database">
    </div>
  </section>

  <section class="form-block">
    <label>
      <clr-icon shape="connect"></clr-icon> Connectivity</label>
    <div class="form-group">
      <label class="required" for="ff_hostname">Hostname</label>
      <input type="text" id="ff_hostname" placeholder="example.com" formControlName="hostname">
    </div>
    <div class="form-group">
      <label class="required" for="ff_portnumber">Portnumber</label>
      <input type="number" id="ff_portnumber" formControlName="portnumber">
    </div>
  </section>
</form>

<section class="form-block">
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  </section>
  
</ng-container>
<p>{{server | json}}</p>

<p>{{serverErrors | json}}</p>

<p>Form value: {{ serverForm.value | json }}</p>
<p>Form status: {{ serverForm.status | json }}</p>