<ng-container *ngIf="server">
<form>
  <section class="form-block">
    <label>
      <clr-icon shape="storage"></clr-icon> Database</label>
    <div class="form-group">
      <label class="required" for="ff_dbtype">Type</label>
      <div class="select">
        <select id="ff_dbtype">
          <option>Sql Server</option>
          <option>Maria DB</option>
          <option>PostgreSQL</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="ff_database">Name</label>
      <input type="text" id="ff_database" placeholder="database">
    </div>
  </section>

  <section class="form-block">
    <label>
      <clr-icon shape="connect"></clr-icon> Connectivity</label>
    <div class="form-group">
      <label class="required" for="ff_hostname">Hostname</label>
      <input type="text" id="ff_hostname" placeholder="example.com">
    </div>
    <div class="form-group">
      <label class="required" for="ff_portnumber">Portnumber</label>
      <input type="number" id="ff_portnumber">
    </div>
  </section>
</form>

<section class="form-block">
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  </section>
  
</ng-container>