 <clr-modal [(clrModalOpen)]="open" [clrModalClosable]="false">
    <h3 class="modal-title" >Are you sure?</h3>
    <div class="modal-body">
        <p>The action you are about to do, cannot be undone.</p>
        <p>Are you sure you want to continue?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmed()">Continue</button>
    </div>
</clr-modal>
