<clr-main-container>
    <clr-header class="header-2">
        <div class="branding">
            <a href="#" class="nav-link">
                <span class="clr-icon hostbeter-logo"></span>
                <span class="title">HostBeter.nl</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" href="#" [routerLink]="['/dashboard']" routerLinkActive="active">
                <span class="nav-text">Dashboard</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/servers']" routerLinkActive="active">
                <span class="nav-text">DB Servers</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/queries']" routerLinkActive="active">
                <span class="nav-text">Queries</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/syncs']" routerLinkActive="active">
                <span class="nav-text">Syncs</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/settings']" routerLinkActive="active">
                <span class="nav-text">Settings</span>
            </a>
        </div>
    </clr-header>

        <router-outlet></router-outlet>

</clr-main-container>
