<ng-container *ngIf="server">
        <h4>{{server.name}}</h4>
    <form>
        <section class="form-block">
            <label>
                <clr-icon shape="storage"></clr-icon> Database</label>
            <div class="form-group">
                <label>Type</label>
                <input type="text" size="35" readonly [attr.value]="serverTypeDescription">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" size="35" readonly [attr.value]="server.database">
            </div>
        </section>

        <section class="form-block">
            <label>
                <clr-icon shape="connect"></clr-icon> Connectivity</label>
            <div class="form-group">
                <label>Hostname</label>
                <input type="text" size="35" readonly [attr.value]="server.hostname">
            </div>

            <div class="form-group">
                <label>Portnumber</label>
                <input type="number" size="35" readonly [attr.value]="server.portnumber">
            </div>

        </section>

        <section class="form-block">
            <button type="button" class="btn btn-secondary" [routerLink]="['edit']">Edit</button>
            <button type="button" class="btn btn-secondary" (click)="confirm = true">Delete</button>
        </section>

        <hb-confirmation-modal [open]="confirm" (onCancel)="confirm=false" (onConfirm)="delete(server); confirm = false;"></hb-confirmation-modal>
        <p>{{errors | json}}</p>
  
    </form>
</ng-container>