<span *ngIf="!server" class="spinner spinner-inline fade in"></span>
<ng-container *ngIf="sync">
        <h4 class="details-title">{{sync.query.name}}</h4>
    <form>
        <section class="form-block">
        <label>
            <clr-icon shape="code"></clr-icon> Plan</label>
            <div class="form-group">
                    <label>Query</label>
                    <input type="text" size="35" readonly [attr.value]="sync.query.name">
                </div>
        </section>
        <section class="form-block">
            <label>
                <clr-icon shape="storage"></clr-icon> DB-Servers</label>
            <div class="form-group">
                <label>Source</label>
                <input type="text" size="35" readonly [attr.value]="sync.sourceServer.name">
            </div>
            <div class="form-group">
                <label>Target</label>
                <input type="text" size="35" readonly [attr.value]="sync.targetServer.name">
            </div>
        </section>

        <section class="form-block">
            <label>
                <clr-icon shape="calendar"></clr-icon> Schedule</label>
            <div class="form-group">
                <label>Cron</label>
                <input type="text" size="35" readonly [attr.value]="sync.cronSchedule">
            </div>

            <div class="form-group">
                <label>Is schedule enabled</label>
                <input type="checkbox" size="35" readonly [attr.value]="sync.isScheduleEnabled">
            </div>

        </section>

        <section class="form-block">
            <button type="button" class="btn btn-secondary" [routerLink]="['edit']">Edit</button>
            <button type="button" class="btn btn-secondary" (click)="confirm = true">Delete</button>
        </section>

        <hb-confirmation-modal [open]="confirm" (onCancel)="confirm=false" (onConfirm)="delete(); confirm = false;"></hb-confirmation-modal>
        <p>{{errors | json}}</p>

    </form>
</ng-container>
