<div class="content-container">
    <hb-crudlist (onNewItem)="newServer()" [navItems]="serverlist" [linkBasePath]="'details'" [linkIdPathProp]="'name'" [iconShape]="'rack-server'">
    </hb-crudlist>
    <div class="content-area">
        <h2>Database server</h2>
        <!-- view -->
        <router-outlet *ngIf="!editableServer"></router-outlet>
        <!-- edit -->
        <app-editable-server-details  *ngIf="!!editableServer" [server]="editableServer"></app-editable-server-details>
        
    </div>
</div>
