<clr-vertical-nav>
    <a clrVerticalNavLink (click)="clickNew()" routerLinkActive="active"  ><span *ngIf="!navItems" class="spinner spinner-inline fade in"></span><clr-icon *ngIf="navItems" shape="new"></clr-icon> New {{entityName | lowercase}}   </a>
    <a *ngFor="let link of navItems | async" clrVerticalNavLink [routerLink]="link.routerlink" routerLinkActive="active">
        <clr-icon [attr.shape]="iconShape" class="is-solid"></clr-icon> {{link[this.linkDescriptionPathProp] | lowercase}}
    </a>

</clr-vertical-nav>
